body {
  font-size: 16px;
  line-height: 1;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  background-color: #f9f9f9;
  padding: 0;
  margin: 0;
}

.name {
  font-size: 7.35rem;
  font-style: normal;
  font-weight: 900;
  padding: 0;
  letter-spacing: -0.1rem;
  color: #21211f;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

.name-block {
  display: block;
  margin-top: -50;
}

.main {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-name {
  color: #21211f;
  font-size: 1.03rem;
  line-height: 0;
  letter-spacing: 0.135rem;
  margin: -80 0 80 0;
  padding: 0 0 0 360;
  font-family: monospace;
}

footer {
  position: absolute;
  bottom: 35px;
  text-align: center;
  display: block;
  float: left;
  width: 100%;
}

a {
  padding: 0 0.5rem;
  color: #21211f;
  font-size: 30px;
  transition: all 0.5s ease;
}

.gh .li .ig .em {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.gh:hover {
  color: #6e5494;
}

.li:hover {
  color: #0077B5;
}

.ig:hover {
  color: #bc2a8d;
}

.em:hover {
  color: #c13c32;
}
